<div class="col-12 card p-3 class">
  <%= bootstrap_form_with(model: destiny) do |f| %>

    <%= f.text_field :name, label: "Nome", oninput: "this.value = this.value.toUpperCase()", required: true %>
    <%= f.check_box :status, label: "Status Ativo?" %>
    <%= f.submit "Salvar" %>

    <%= link_to "Cancelar", destinies_path, class:"btn btn-danger" %>
    
  <% end %>
</div>