<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  
  <h1 class="h2 display-6">Filiais</h1>

  <p style="color: green"><%= notice %></p>

  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to "Nova Filial", new_branch_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<div id="branches" class="table-responsive">
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome da Filial</th>
          <th scope="col">Empresa</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.id %></td>
          <td><%= branch.name %></td>
          <td><%= branch.company.brand %></td>
          <td><% if (branch.status == true)  %>
                ATIVO
              <% else %>
                INATIVO
              <% end %>
          </td>
          <td>
            <%= link_to edit_branch_path(branch) do %>
              <i class="fa-solid fa-file-pen align-middle"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
