<div id="<%= dom_id costcenter %>">
  <p>
    <strong>Name:</strong>
    <%= costcenter.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= costcenter.status %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= costcenter.branch_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= costcenter.service_id %>
  </p>

</div>
