<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Fleet:</strong>
    <%= vehicle.fleet %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= vehicle.brand %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= vehicle.plate %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.status %>
  </p>

</div>
